CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

build
*.lib
*.dll
*.a
*.dylib
*.so
*.exp
*.zip
win/x86
win/x64
